USE [IVMEDB]
GO
/****** Object:  Table [dbo].[IVME_TRANSFER_CUSTOMER]    Script Date: 5.04.2017 18:14:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IVME_TRANSFER_CUSTOMER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CurrAccCode] [varchar](30) NULL,
	[TransferDate] [datetime] NULL,
 CONSTRAINT [PK_IVME_TRANSFER_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IVME_TRANSFER_CUSTOMER_ERR]    Script Date: 5.04.2017 18:14:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IVME_TRANSFER_CUSTOMER_ERR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CurrAccCode] [varchar](30) NULL,
	[ERRLOG] [varchar](1000) NULL,
	[ERRDATE] [datetime] NULL,
 CONSTRAINT [PK_IVME_TRANSFER_CUSTOMER_ERR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IVME_TRANSFER_INVOICE]    Script Date: 5.04.2017 18:14:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IVME_TRANSFER_INVOICE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNumber] [varchar](30) NULL,
	[InvoiceType] [varchar](100) NULL,
	[TransferDate] [datetime] NULL,
 CONSTRAINT [PK_IVME_TRANSFER_INVOICE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IVME_TRANSFER_INVOICE_ERR]    Script Date: 5.04.2017 18:14:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IVME_TRANSFER_INVOICE_ERR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNumber] [varchar](30) NULL,
	[ERRLOG] [varchar](1000) NULL,
	[ERRDATE] [datetime] NULL,
 CONSTRAINT [PK_IVME_TRANSFER_INVOICE_ERR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IVME_TRANSFER_PRODUCT]    Script Date: 5.04.2017 18:14:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IVME_TRANSFER_PRODUCT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ItemCode] [varchar](50) NULL,
	[TransferDate] [datetime] NULL,
 CONSTRAINT [PK_IVME_TRANSFER_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IVME_TRANSFER_PRODUCT_ERR]    Script Date: 5.04.2017 18:14:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IVME_TRANSFER_PRODUCT_ERR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ItemCode] [varchar](30) NULL,
	[ERRLOG] [varchar](1000) NULL,
	[ERRDATE] [datetime] NULL,
 CONSTRAINT [PK_IVME_TRANSFER_PRODUCT_ERR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  StoredProcedure [dbo].[sp_IvmeCustomerCommList]    Script Date: 5.04.2017 18:14:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_IvmeCustomerCommList]
@CURRACCCODE VARCHAR(100)

AS
SELECT                           
  cdCurrAcc.CurrAccCode
, CurrAccPostalAddress.Address				
, CurrAccPostalAddress.ZipCode				
, CurrAccPostalAddress.CityDescription		
, CurrAccPostalAddress.CountryDescription	
, CurrAccPostalAddress_TaxOfficeCode =  CurrAccPostalAddress.TaxOfficeCode			
, CurrAccPostalAddress.TaxOfficeDescription	
, CurrAccPostalAddress_TaxNumber = CurrAccPostalAddress.TaxNumber
, CurrAccCommunication.CommunicationTypeCode
, CurrAccCommunication.CommunicationTypeDescription
, CurrAccCommunication.ContactLastName			
, CurrAccCommunication.CommAddress				
from DILVIN.DBO.cdCurrAcc 
INNER JOIN DILVIN.DBO.CurrAccPostalAddress('tr')
 ON CurrAccPostalAddress.CurrAccTypeCode=cdCurrAcc.CurrAccTypeCode AND CurrAccPostalAddress.CurrAccCode=cdCurrAcc.CurrAccCode 
INNER JOIN DILVIN.DBO.CurrAccCommunication('TR') ON CurrAccCommunication.CurrAccTypeCode=cdCurrAcc.CurrAccTypeCode AND CurrAccCommunication.CurrAccCode=cdCurrAcc.CurrAccCode
where cdCurrAcc.CurrAccTypeCode=3 AND cdCurrAcc.CurrAccCode = @CURRACCCODE
GO
/****** Object:  StoredProcedure [dbo].[sp_IvmeCustomerList]    Script Date: 5.04.2017 18:14:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_IvmeCustomerList]
as
select 
	cdCurrAcc.CurrAccCode,
	cdCurrAccDesc=ISNULL((SELECT cdCurrAccDesc.CurrAccDescription FROM DILVIN.DBO.cdCurrAccDesc 
                          WHERE cdCurrAccDesc.CurrAccCode=cdCurrAcc.CurrAccCode AND cdCurrAccDesc.LangCode='TR' AND cdCurrAccDesc.CurrAccTypeCode=cdCurrAcc.CurrAccTypeCode),SPACE(0))
from DILVIN.DBO.cdCurrAcc
where CurrAccCode IN (SELECT CurrAccCode FROM DILVIN.DBO.AllInvoices Where  ProcessCode in ('BP','WS')) AND
      CurrAccCode Not In 
			(Select CurrAccCode from IVME_TRANSFER_CUSTOMER)
ORDER BY CurrAccCode
GO
/****** Object:  StoredProcedure [dbo].[sp_IvmeInvoiceList]    Script Date: 5.04.2017 18:14:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE [dbo].[sp_IvmeInvoiceList]
AS
SELECT 
 InvoiceRef = AllInvoices.InvoiceNumber
,LineType = Case When P.ProductHierarchyLevel04 = '' THEN 1 ELSE 0 END 
,AllInvoices.IsReturn
,InvoiceSeries = 
	case AllInvoices.InvoiceTypeCode 
		When 0 Then AllInvoices.Series
		Else left(AllInvoices.EInvoiceNumber, 3)
	End
,InvoiceSeriesNumber = 
	case AllInvoices.InvoiceTypeCode 
		When 0 Then CAST(AllInvoices.SeriesNumber AS varchar)
		Else CAST(SUBSTRING(AllInvoices.EInvoiceNumber, 4, LEN(AllInvoices.EInvoiceNumber)) AS varchar) --AllInvoices.EInvoiceNumber  -- e fatura sonrası fatura numaraları farklı alandan gelmeye başladı
	End
,AllInvoices.InvoiceDate
,TaxType =ISNULL((select bsTaxTypeDesc.TaxTypeDescription 
                      from DILVIN.DBO.bsTaxTypeDesc 
                      where bsTaxTypeDesc.LangCode='TR' and bsTaxTypeDesc.TaxTypeCode=AllInvoices.TaxTypeCode),SPACE(0))
,CustomerCode = AllInvoices.CurrAccCode
,ProductHierarchyLevel04 = CASE WHEN P.ProductHierarchyLevel04 = ''
                           THEN ISNULL((select top 1 cdItemDesc.ItemDescription from DILVIN.DBO.cdItemDesc 
                                        where cdItemDesc.LangCode='TR' and cdItemDesc.ItemCode=AllInvoices.ItemCode),SPACE(0)) 
                           ELSE LTRIM(RTRIM(P.ProductHierarchyLevel04)) + ' '+LTRIM(RTRIM(ItemTaxGrCode))
                           END
,ProductTax = cast(SUBSTRING(C.ItemTaxGrCode,2,LEN(C.ItemTaxGrCode)-1) as INT)
,Quantity = ABS(AllInvoices.Qty1)
,PriceCurrencyCode=AllInvoices.PriceCurrencyCode
,Price = case when AllInvoices.ProcessCode = 'WS' 
         THEN   ABS(AllInvoices.Loc_TaxBase) / ((cast(SUBSTRING(C.ItemTaxGrCode,2,LEN(C.ItemTaxGrCode)-1) as INT)/100.00)+1)
		 ELSE CAST(ABS(AllInvoices.Loc_Price) * ABS(AllInvoices.Qty1) AS DECIMAL(18,2))
		 END

,TotalDiscount=AllInvoices.Loc_TDiscountTotal
,Amount = ABS(AllInvoices.Loc_TaxBase)
,InvoiceType = ProcessCode
,[UnitSet]=ISNULL((select Item.UnitOfMeasureCode1 from DILVIN.DBO.Item('tr') 
                       where Item.ItemCode=AllInvoices.ItemCode and Item.ItemTypeCode=AllInvoices.ItemTypeCode),space(0)) 	                       	                       
FROM DILVIN.DBO.AllInvoices 
LEFT JOIN DILVIN.DBO.cdItem C ON AllInvoices.ItemCode = C.ItemCode
LEFT JOIN DILVIN.DBO.ProductHierarchy('TR') P ON P.ProductHierarchyID=C.ProductHierarchyID
Where (AllInvoices.ProcessCode in ('R','WS') OR
      (AllInvoices.ProcessCode = 'BP' AND AllInvoices.CurrAccCode <> '320.01.101')) AND
      AllInvoices.InvoiceDate >= CAST('20170404' AS DATETIME) AND

      Not Exists (Select * From IVME_TRANSFER_INVOICE TI
                  WHERE TI.InvoiceNumber = AllInvoices.InvoiceNumber AND
                        TI.InvoiceType = AllInvoices.ProcessCode)

--AND AllInvoices.InvoiceNumber='1-R-7-85558'  
  --AND AllInvoices.IsReturn=0
ORDER BY 1 

























GO
/****** Object:  StoredProcedure [dbo].[sp_IvmeProductList]    Script Date: 5.04.2017 18:14:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_IvmeProductList] 
AS
BEGIN
	select 
		DISTINCT 
		ItemTaxGrCode = CAST(LTRIM(RTRIM(REPLACE(ItemTaxGrCode,'%',''))) AS INT),
		ProductHierarchyLevel01 = '',
		ProductHierarchyLevel02 = '',
		ProductHierarchyLevel03 = '',
		ProductHierarchyLevel04 = LTRIM(RTRIM(ProductHierarchy.ProductHierarchyLevel04)) + ' '+LTRIM(RTRIM(ItemTaxGrCode)),
		UnitOfMeasureCode1
	from DILVIN.DBO.cdItem 
	LEFT JOIN DILVIN.DBO.ProductHierarchy('TR') ON ProductHierarchy.ProductHierarchyID=cdItem.ProductHierarchyID
	where   ProductHierarchy.ProductHierarchyLevel04 <> '' AND 
			(LTRIM(RTRIM(ProductHierarchy.ProductHierarchyLevel04)) + ' '+LTRIM(RTRIM(ItemTaxGrCode)) Not In 
			(Select ItemCode from IVME_TRANSFER_PRODUCT))
	ORDER BY 5

END


--select * from IVME_TRANSFER_PRODUCT

GO
