<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
	  <!--<add key="WebApiBaseUrl" value="http://192.168.0.250:8089"/> -->
	<add key="WebApiBaseUrl" value="http://localhost:5236"/>
  </appSettings>
	<connectionStrings>
		<add name="LogoEntities"
			 connectionString="metadata=res://*/MODEL.LOGODB.LogoEntities.csdl|res://*/MODEL.LOGODB.LogoEntities.ssdl|res://*/MODEL.LOGODB.LogoModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=tcp:192.168.0.245,55580;Initial Catalog=IVMEDB;User ID=ivmesoft;Password=ivmesoft2017;Persist Security Info=True;MultipleActiveResultSets=True;Encrypt=False;TrustServerCertificate=True;Application Name=EntityFramework'"
			 providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>
